:root {
  --primary-color: #430f58;
  --secondary-color: #d5def5;
  --accent-color: #ebf0fd;
  --default-font-family: "Playfair Display", serif;
  --secondary-font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 80px;
  font-family: var(--default-font-family);
  color: var(--primary-color);
}

h2 {
  font-size: 20px;
  font-family: var(--secondary-font-family);
  color: var(--primary-color);
  line-height: 2;
  font-weight: normal;
}

p {
  font-size: 18px;
  font-family: var(--secondary-font-family);
}

a {
  margin: 20px 10px;
  font-size: 15px;
  text-decoration: none;
  border-radius: 4px;
  padding: 10px 15px;
  transition: all 400ms ease-in-out;
  text-align: center;
}

img {
  border-radius: 4px;
  box-shadow: 5px 5px 12px rgb(0, 0, 0, 0.1);
}

.projects-button {
  color: var(--primary-color);
  border: var(--primary-color) 1px solid;
}
.projects-button:hover {
  color: var(--secondary-color);
  background: var(--primary-color);
}

.introduction {
  padding: 80px 20px 60px;
  background: var(--secondary-color);
  text-align: center;
}

.introduction h2 {
  margin-bottom: 40px;
}

.introduction p {
  font-size: 24px;
  color: var(--primary-color);
  line-height: 2;
  font-weight: normal;
  margin: 0;
}

.projects-section {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}

.info-container {
  margin: 40px;
  padding: 20px;
  text-align: center;
  background-color: var(--accent-color);
}

.projects-section a,
.info-container a {
  color: #ffffff;
  background: var(--primary-color);
}

.projects-section a:hover,
.info-container a:hover {
  color: var(--primary-color);
  background: #ffffff;
  border: var(--primary-color) 1px solid;
}

.projects-section h2 {
  font-size: 25px;
}

.project-description p {
  margin-bottom: 30px;
  opacity: 0.8;
  line-height: 25px;
  text-align: left;
}

.about-photo {
  max-width: 550px;
  margin: 0;
}

.info {
  padding: 80px 20px 60px;
  text-align: center;
}

.info h1 {
  font-size: 40px;
  margin-bottom: 50px;
}

.info h3 {
  margin-top: 15px;
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--secondary-font-family);
}

.info p {
  font-size: 16px;
  opacity: 0.8;
  line-height: 25px;
}

.info img {
  border-radius: 4px;
  box-shadow: 5px 5px 12px rgb(0, 0, 0, 0.1);
}

.info a {
  margin-right: 10px;
}

.info a:hover {
  background-color: var(--accent-color);
}

@media (max-width: 990px) {
  h1 {
    font-size: 40px;
  }

  .project-description p {
    text-align: center;
  }

  .projects-section h2,
  h2 {
    font-size: 18px;
  }

  .projects-button {
    font-size: 12px;
  }

  .about-photo {
    margin: 0;
    text-align: center;
  }

  .introduction {
    padding: 40px 10px 30px;
  }

  .introduction h2 {
    margin-bottom: 20px;
  }

  .introduction p {
    font-size: 20px;
  }

  .projects-section {
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .info {
    margin: auto;
    padding: 0;
    text-align: center;
  }

  .info h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .info h2 {
    line-height: 1.2;
  }

  .info a {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .project-description {
    padding-top: 20px;
  }
}
