:root {
  --primary-color: #430f58;
  --secondary-color: #d5def5;
  --font-color: #6a158b;
  --default-font-family: "Playfair Display", serif;
  --secondary-font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 80px;
  font-family: var(--default-font-family);
  color: var(--primary-color);
}

h2 {
  font-size: 25px;
  font-family: var(--secondary-font-family);
  color: var(--primary-color);
  line-height: 1.5;
  font-weight: normal;
}

h4 {
  font-size: 36px;
  font-family: var(--default-font-family);
}

p {
  font-size: 16px;
  font-family: var(--secondary-font-family);
}

img {
  border-radius: 4px;
  box-shadow: 5px 5px 12px rgb(0, 0, 0, 0.1);
}

nav ul {
  display: inline;
  padding: 25px 10px 0;
}

nav li,
a {
  color: black;
  font-family: var(--secondary-font-family);
  display: inline;
  text-decoration: none;
  padding: 5px;
}

nav a:hover,
.active {
  color: var(--font-color);
}
.logo {
  max-height: 80px;
  border-radius: 100%;
  box-shadow: none;
}

.projects-button {
  font-size: 16px;
  text-decoration: none;
  border-radius: 4px;
  padding: 10px 15px;
  transition: all 400ms ease-in-out;
  text-align: center;
  color: #ffffff;
  background: var(--primary-color);
  border: var(--primary-color) 1px solid;
}
.projects-button:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
  border: var(--primary-color) 1px solid;
}

.project-description .projects-button:hover {
  color: var(--primary-color);
  background: #ffffff;
  border: var(--primary-color) 1px solid;
}

.introduction {
  padding: 30px 20px 40px;
  background: var(--secondary-color);
  text-align: center;
}

.introduction h2 {
  margin-bottom: 40px;
}

.introduction p {
  font-size: 24px;
  color: var(--primary-color);
  line-height: 2;
  font-weight: normal;
  margin: 0;
}

.projects-section {
  margin-top: 60px;
  margin-bottom: 80px;
  text-align: center;
}

.projects-section .row {
  margin-top: 20px;
}

.project-description p {
  margin-bottom: 30px;
  opacity: 0.8;
  line-height: 25px;
  text-align: left;
}

.about-photo {
  max-width: 550px;
}

.info-container {
  padding: 60px 20px 40px;
  margin-bottom: 20px;
  text-align: center;
  background-color: var(--secondary-color);
}

.info h1 {
  font-size: 40px;
  margin-bottom: 40px;
}

.info h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--secondary-font-family);
}

.info p {
  font-size: 16px;
  opacity: 0.8;
  line-height: 25px;
}

footer {
  margin: 20px 0 40px;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 40px 120px 40px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 10px 5px 0;
  font-size: 20px;
}

footer .contact-box a {
  font-size: 20px;
  padding: 13px 25px;
}

footer .email-link {
  margin-top: 20px;
  font-size: 25px;
}

footer .email-link:hover {
  color: var(--font-color);
}

footer .social-links a {
  margin: 20px;
  padding: 10px 18px;
  border-radius: 50%;
  font-size: 25px;
  color: var(--primary-color);
  background: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--secondary-color);
  background: var(--primary-color);
}

footer .work-contact-container {
  margin-top: 30px;
}

@media (max-width: 990px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 18px;
  }

  .project-description p {
    text-align: center;
    font-size: 14px;
  }

  .projects-button {
    font-size: 12px;
  }

  .about-photo {
    margin-top: 40px;
  }

  .introduction {
    padding: 20px 10px 30px;
  }

  .introduction h2 {
    margin-bottom: 20px;
  }

  .introduction p {
    font-size: 20px;
  }

  .projects-section {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .info-container {
    margin: auto;
    padding-top: 40px;
    text-align: center;
  }

  .info h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .info h2 {
    line-height: 1.2;
  }

  .info p {
    font-size: 14px;
  }

  .logo {
    max-height: 60px;
  }
  nav ul {
    padding: 25px 5px 0;
  }

  nav li,
  a {
    padding: 0;
    font-size: 14px;
  }

  footer .email-link {
    margin-top: 0;
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  .about-photo {
    margin-top: 50px;
  }
}
