:root {
  --primary-color: #430f58;
  --secondary-color: #d5def5;
  --default-font-family: "Playfair Display", serif;
  --secondary-font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: var(--default-font-family);
  font-size: 80px;
  color: var(--primary-color);
}

h2 {
  font-size: 20px;
  font-family: var(--secondary-font-family);
  color: var(--primary-color);
  line-height: 2;
  font-weight: normal;
}

p {
  font-size: 16px;
  font-family: var(--secondary-font-family);
}

a {
  margin: 20px 10px;
  font-size: 15px;
  text-decoration: none;
  border-radius: 4px;
  padding: 10px 15px;
  transition: all 400ms ease-in-out;
  text-align: center;
}

img {
  border-radius: 4px;
}

.projects-button {
  color: var(--primary-color);
  border: var(--primary-color) 1px solid;
}
.projects-button:hover {
  color: var(--secondary-color);
  background: var(--primary-color);
}

.introduction {
  padding: 80px 20px 60px;
  background: var(--secondary-color);
  text-align: center;
}

.introduction h2 {
  margin-bottom: 40px;
}

.introduction p {
  font-size: 24px;
  color: var(--primary-color);
  line-height: 2;
  font-weight: normal;
  margin: 0;
}

.projects-section {
  margin-top: 80px;
  margin-bottom: 80px;
}

.projects-section,
.about-description {
  margin-bottom: 20px;
  text-align: center;
}

.projects-section h2 {
  font-size: 25px;
}

.project-description p {
  margin-bottom: 30px;
  opacity: 0.8;
  line-height: 25px;
  text-align: left;
}

.projects-section a,
.about-description a {
  color: #ffffff;
  background: var(--primary-color);
  margin: auto;
}

.projects-section a:hover,
.about-description a:hover {
  color: var(--primary-color);
  background: #ffffff;
  border: var(--primary-color) 1px solid;
}

.about-photo {
  max-width: 400px;
}

.about-description-info {
  padding-top: 60px;
  padding-left: 40px;
}

.about-description {
  padding: 80px 20px 60px;
}

.about-description h1 {
  font-size: 60px;
}

.about-description p {
  margin-bottom: 30px;
  opacity: 0.8;
  line-height: 25px;
}

@media (max-width: 990px) {
  h1 {
    font-size: 40px;
  }

  .about-description h1 {
    font-size: 50px;
  }

  .projects-section h2,
  h2 {
    font-size: 18px;
  }

  .projects-button {
    font-size: 12px;
  }

  .about-photo {
    max-width: 275px;
    padding: 0;
  }

  .introduction {
    padding: 40px 10px 30px;
  }

  .introduction h2 {
    margin-bottom: 20px;
  }

  .introduction p {
    font-size: 20px;
  }

  .projects-section {
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .project-description p {
    text-align: center;
  }

  .about-description-info {
    margin: auto;
    padding: 0 10px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .project-description {
    padding-top: 20px;
  }
}
